html {
  background: #000000 !important;
}

body,
body.vscode-dark,
body.vscode-light,
body.vscode-high-contrast {
  background: #000000 !important;
  color: #00FF00 !important;
}

body * {
  color: #00FF00 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFD700 !important;
}

pre, code {
  background: #3333FF !important;
  color: #FFFFFF !important;
}

a {
  color: #FF66FF !important;
}
